{% extends 'tours/base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
    <style type="text/css">
        label {
            color: white;
        }

        .center {
            text-align: center;
            margin-top: 20%;
        }

        .card {
            margin: auto;
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="center">
    <div class="card text-bg-primary">
        <h2>Login</h2>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}