{% extends 'tours/base.html' %}

{% block title %}Profile{% endblock %}

{% block style %}
    <style type="text/css">
        .image {
            float: left;
            width: 40%;
            border-radius: 40%;
        }

        .card {
            float: right;
            width: 50%;
            height: auto;
            margin-top: 5%;
            margin-right: 10%;
        }

        .white {
            color: white;
        }

        .big {
            font-size: 300%;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1 class="white">Profile</h1>
    </div>
    <img src="{{ profile.avatar.url }}" class="image" alt="avatar" width="150">
    <div class="card text-bg-info mb-3" style="max-width: 540px;">
        <div class="card-body">
            <p class="white">Username: {{ request.user.username }}</p>
            <p class="white">Email: {{ request.user.email }}</p>
            {% if request.user.is_superuser == True %}
                <p class="white">Super user: Yes</p>
            {% else %}
                <p class="white">Super user: No</p>
                <a href="{% url 'accounts:superuser_view' %}" class="btn btn-success">Become superuser</a>
            {% endif %}
            
            <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Edit profile</a>
        </div>
    </div>
    <div class="card text-bg-info mb-3" style="max-width: 540px;">
        <div class="card-body">
            <p class="card-title white big">Balance: ${{ profile.balance.amount }}</p>
            <a href="{% url 'accounts:top_up_balance' %}" class="btn btn-success">Top up balance</a>
            <a href="{% url 'accounts:transactions' %}" class="btn btn-warning">Transactions</a>
        </div>
    </div>
    
{% endblock %}