{% extends 'tours/base.html' %}

{% block style %}
    <style type="text/css">
        .white {
            color: white;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="white">Cart:</h2>
        {% if items %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle text-center">
                    <thead class="table-light">
                        <tr>
                            <th>Tour</th>
                            <th>Tickets amount</th>
                            <th>Price</th>
                            <th>Remove</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.tour.name}}</td>
                            <td>{{item.amount}}</td>
                            <td>${{item.total_price}}</td>
                            <td><a href="{% url 'tours:cart_delete' item.tour.id %}" class="btn btn-sm btn-outline-danger">-</a></td>
                            <td><a href="{% url 'tours:cart_add' item.tour.id %}" class="btn btn-sm btn-outline-success">+</a></td>
                        </tr>
                        
                    {% endfor %}
                        <tr class="table-secondary">
                            <td class="text-start"><strong>Total:</strong></td>
                            <td class="text-end" colspan="4"><strong>${{cart.total}}</strong></td>
                        </tr>
                    </tbody>
                </table>
                <a href="{% url 'tours:checkout' %}" class="btn btn-success">Order!</a>
            </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Your cart is empty
        </div>
        {% endif %}
    </div>
{% endblock %}

