{% extends 'tours/base.html' %}

{% block style %}
    <style type="text/css">
        .center {
            text-align: center;
        }

        div.center label {
            font-size: 20px;
            color: white;
        }

        .card {
            margin: auto;
            width: 600px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="card text-bg-primary">
        <h2>Create a Tour!</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-success">
        </form> 
        </div>
    </div>
{% endblock %}