{% extends 'tours/base.html' %}

{% block style %}
    <style type="text/css">
        .image {
        float: left;
        width: 50%;
        height: 30%;
        margin-right: 30px;
        position: sticky;
        top: 0;
        }

        .text-success {
          font-size: 50px;  
        }

        p {
            font-size: 20px;
        }

        span {
            font-size: 25px;
        }

        .checked {
            color: orange;
        }

        .fa {
            width: 10px;
        }
        
        .tour {
            display: flex;
            gap: 30px;
            align-items: flex-start;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="tour">
        <img src="{{ tour.image.url|default:'https://fotografie.at/galerie/userImages/33/484922-33adeea9.jpg' }}" alt="{{ tour.name }}" class="image">
        <div class="tour-text">
        <h1>{{ tour.name }}</h1>
        <p>{{ tour.description }}</p>
        
        <p>Dates: {{ tour.start_date }} - {{ tour.end_date }}</p>
        {% if tour.available %}
            <p>🎫Tickets left: {{ tour.tickets_amount }}</p>
        {% else %}
            <p class="text-muted">Sold out</p>
        {% endif %}
        <p>Cities: {{ tour.cities }}</p>
        {% if tour.rating  %}
            <!-- {% for i in '12345' %}
                {% if forloop.counter >= tour.rating%}
                    <span class="fa fa-star checked"></span>
                {% else %}
                    <span class="fa fa-star"></span>
                {% endif %} -->
                <span>{{ tour.rating }}</span>
            <!-- {% endfor %} -->
        {% else %}
            <p style="color: gray;">No reviews</p>
        {% endif %}
        {% if tour.discount %}
            <span class="text-success">
                Ticket price: ${{ tour.discount_price }}
            </span>
            <span class="text-muted text-decoration-line-through">
                ${{ tour.price }}
            </span>
            <span>
                Discount: {{ tour.discount }}%
            </span>
        {% else %}
            <p class="text-success">
                Ticket price: ${{ tour.price }}
            </p>  
        {% endif %}
        <a href="{% url 'tours:cart_add' tour.id%}" class="btn btn-success">Add to Cart!</a>
        </div>
    </div>
{% endblock %}
{% extends 'tours/base.html' %}

{% block style %}
    <style type="text/css">
        .image {
        float: left;
        width: 50%;
        height: 30%;
        margin-right: 30px;
        position: sticky;
        top: 0;
        }

        .text-success {
          font-size: 50px;  
        }

        p {
            font-size: 20px;
        }

        span {
            font-size: 25px;
        }

        .checked {
            color: orange;
        }

        .fa {
            width: 10px;
        }
        
        .tour {
            display: flex;
            gap: 30px;
            align-items: flex-start;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="tour">
        <img src="{{ tour.image.url|default:'https://fotografie.at/galerie/userImages/33/484922-33adeea9.jpg' }}" alt="{{ tour.name }}" class="image">
        <div class="tour-text">
        <h1>{{ tour.name }}</h1>
        <p>{{ tour.description }}</p>
        
        <p>Dates: {{ tour.start_date }} - {{ tour.end_date }}</p>
        {% if tour.available %}
            <p>Tickets left: {{ tour.tickets_amount }}</p>
        {% else %}
            <p class="text-muted">Sold out</p>
        {% endif %}
        <p>Cities: {{ tour.cities }}</p>
        {% if tour.rating  %}
            <!-- {% for i in '12345' %}
                {% if forloop.counter >= tour.rating%}
                    <span class="fa fa-star checked"></span>
                {% else %}
                    <span class="fa fa-star"></span>
                {% endif %} -->
                <span>{{ tour.rating }}</span>
            <!-- {% endfor %} -->
        {% else %}
            <p style="color: gray;">No reviews</p>
        {% endif %}
        {% if tour.discount %}
            <span class="text-success">
                Ticket price: ${{ tour.discount_price }}
            </span>
            <span class="text-muted text-decoration-line-through">
                ${{ tour.price }}
            </span>
            <span>
                Discount: {{ tour.discount }}%
            </span>
        {% else %}
            <p class="text-success">
                Ticket price: ${{ tour.price }}
            </p>  
        {% endif %}
        </div>
    </div>
{% endblock %}