{% extends 'tours/base.html' %}

{% block style %}
    <style type="text/css">
        .center {
            text-align: center;
            margin-top: 10%;
        }

        .card {
            margin: auto;
            width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="card text-bg-primary">
            <h2 class="text-warning card-header">Letter Sent</h2>
            <div class="card-body">
                <p>Please check your email address. Note: Don't forget to check the spam folder</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-warning">Go to Login</a>
            </div>
        </div>
    </div>
{% endblock %}